<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  <div class= "nav">
    <% if user_signed_in? %>
      <li> <%= link_to current_user.full_name, edit_user_registration_path %></li>
      <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li> <%= link_to "Register", new_user_registration_path %></li>
      <li> <%= link_to "Log In", new_user_session_path %></li>
    <% end %>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <%= yield %>
    </div>
  </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
